@font-face {
	font-family: 'JosefinSansVF';
	src: url('/fonts/JosefinSans-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'FiraCodeVF';
	src: url('/fonts/FiraCode-VariableFont_wght.ttf');
}
*, *:before, *:after {
	box-sizing: border-box;
}
:root {
	--vintage-green: #3f3;
}
html {
	--bg-1: #000;
	--text-fg-1: #fff;
}
body {
	background: var(--bg-1);
	color: var(--text-fg-1);
	font-family: monospace;
	margin: 0;
	display: grid;
	align-content: flex-start;
	font-family: 'JosefinSansVF', sans-serif;
	min-height: 85vh;
	overflow: hidden;
}
@media (min-width: 600px) {
	body {
		min-height: 100vh;
   }
}
h1 {
	font-family: 'FiraCodeVF', monospace;
	font-variation-settings: 'wght' 400;
}
.title-container {
	display: grid;
	align-items: center;
	padding: 0 20px;
	min-height: 100vh;
}
@media (min-width: 600px) {
	.title-container {
		justify-self: center;
		min-width: 600px;
   }
}
.title-container h1 {
	margin: 0;
	font-size: 1.3rem;
	text-align: left;
	max-width: 600px;
}
@media (min-width: 360px) {
	.title-container h1 {
		font-size: 1.5rem;
   }
}
header {
	display: grid;
	grid-auto-flow: column;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
	position: fixed;
	top: 0;
	left: 0;
}
@media (min-width: 600px) {
	header {
		padding: 0 30px;
   }
}
header .logo {
	font-size: 20px;
	font-variation-settings: 'wght' 500;
}
header a {
	text-decoration: none;
	color: var(--text-c-1);
	position: relative;
}
header a:before {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: var(--text-c-1);
	transition: all 0.2s ease-in;
}
header a:hover:before {
	width: 100%;
}
header ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
header ul.right li {
	font-variation-settings: 'wght' 300;
	transition: all 0.2s linear;
}
header ul.right li:hover {
	font-variation-settings: 'wght' 300;
}
header li {
	cursor: pointer;
	padding: 20px;
	margin: 0;
	line-height: 1;
}

.typer {
	--typer-c: var(--vintage-green);
}
.typer span.block {
	display: inline-flex;
	position: relative;
	background: var(--typer-c);
	color: var(--typer-c);
	line-height: 1;
}
.typer.blink span.block {
	animation: blink 1s infinite;
}

@keyframes blink {
	0% {
		--typer-c: var(--vintage-green);
   }
	50% {
		--typer-c: transparent;
   }
	100% {
		--typer-c: var(--vintage-green);
   }
}
