@custom-media --only-ph (max-width: 600px);
@custom-media --gt-ph (min-width: 600px);
@custom-media --gt-tab (min-width: 821px);
@custom-media --gt-min-lap (min-width: 1024px);
@custom-media --gt-max-w (min-width: 1366px);
@custom-media --small-lap (min-width: 924px) and (max-height: 650px);
  
@font-face {
	font-family: 'JosefinSansVF';
	src: url('/fonts/JosefinSans-VariableFont_wght.ttf');
}
@font-face {
	font-family: 'FiraCodeVF';
	src: url('/fonts/FiraCode-VariableFont_wght.ttf');
}
*, *:before, *:after {
	box-sizing: border-box;
}
:root {
	--vintage-green: #3f3;
	--darkendGreen: #538d4e;
	--darkendYellow: #b59f3b;
	--color-present: var(--darkendYellow);
    --color-correct: var(--darkendGreen);
}
html {
	--bg-1: #000;
	--text-fg-1: #fff;
}
body {
	background: var(--bg-1);
	color: var(--text-fg-1);
	font-family: monospace;
	margin: 0;
	display: grid;
	align-content: flex-start;
	font-family: 'JosefinSansVF', sans-serif;
	min-height: 85vh;
	background-color: #121213;
    overflow: hidden;
	@media (--gt-ph) {
		min-height: 100vh;
	}
}
header {
	display: grid;
	place-items: center;
	height: 52px;
	border-bottom: 1px solid #222;
}
h2 {
	font-family: 'FiraCodeVF', monospace;
	font-variation-settings: 'wght' 400;
	text-align: center;
	font-size: 20px;
	margin: 0;
	@media (--gt-ph) {
		font-size: 20px;
	}
	@media (--gt-min-lap) {
		font-size: 22px;
	}
}

.main-container {
	display: grid;
	height: calc(100vh - 52px);
	place-items: center;
	grid-gap: 20px;
	@media (--gt-ph) {
		grid-template-columns: repeat(2, auto);	
	}
}

.wordle-container {
	display: grid;
	grid-gap: 10px;
	justify-items: center;
	align-content: space-evenly;
    height: 100%;
}

.wordle {
	display: grid;
	grid-gap: 5px;
	--block-size: 54px;
	@media (--gt-ph) {
		--block-size: 56px;
	}
	@media (--gt-min-lap) {
		--block-size: 62px;
	}
	@media (--small-lap) {
		--block-size: 54px;
	}
	grid-template-rows: repeat(6, var(--block-size));
	ul {
		display: grid;
		grid-template-columns: repeat(5, var(--block-size));
		grid-gap: 5px;
		padding: 0;
		margin: 0;
		&:hover {
			background: #111;
		}
	}
	li {
		display: grid;
		border: 2px solid #3a3a3c;
		place-items: center;
		text-transform: uppercase;
		cursor: pointer;
		&[data-color="GREY"] {
			background-color: #3a3a3c;
		}
		&[data-color="YELLOW"] {
			background-color: #b59f3b;
		}
		&[data-color="GREEN"] {
			background-color: #538d4e;
		}
	}
}

.wordle-keyboard {
	display: grid;
	text-transform: uppercase;
	font-family: 'FiraCodeVF', monospace;
	ul {
		display: grid;
		padding: 0;
		margin: 0;
		list-style: none;
		grid-auto-flow: column;
		justify-content: center;
		font-size: 14px;
		@media (--gt-ph) {
			font-size: 16px;
		}
	}
	li {
		display: grid;
		place-items: center;
		width: 33px;
		height: 66px;
		cursor: pointer;
		user-select: none;
		border: 1px solid #444;
		.in-active {
			background: darkslategrey;
		}
		@media (--gt-ph) {
			width: 42px;
			height: 66px;
		}
		@media (--small-lap) {
			width: 32px;
			height: 56px;
		}
		&:hover, &:focus {
			background: #111;
		}
	}
}

.probability-container {
	display: none;
	grid-gap: 15px;
	width: 100%;
    justify-content: center;
    align-content: start;
	@media (--gt-ph) {
		display: grid;
		align-content: center;
		height: 100%;
	}
	@media (--only-ph) {
		&.active {
			display: grid;
			.close {
				display: grid;
			}
		}
		grid-gap: 30px;
		width: 100%;
		justify-content: center;
		position: fixed;
		background: #111;
		top: 0;
		max-height: 100vh;
		overflow: scroll;
		padding: 30px;
	}
	.close {
		position: fixed;
		top: 12px;
		right: 12px;
		width: 32px;
		cursor: pointer;
		display: none;
	}
}
.probability-input {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 5px;
	align-content: start;
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		background: #333;
		cursor: pointer;
		transition: all 0.1s linear;
		line-height: 1;
		font-family: 'FiraCodeVF', monospace;
		padding: 10px;
		white-space: nowrap;
		text-align: center;
		text-transform: uppercase;
		&.active {
			background-color: #538d4e;
			&:hover {
				background-color: #538d4e;
			}
		}
		&:hover {
			background: #b59f3b;
		}
		&:nth-of-type(1) {
			grid-column: span 5;
		}
	}
}
.probability-output {
	list-style: none;
	display: grid;
	grid-gap: 10px;
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: 'FiraCodeVF', monospace;
	@media (--gt-ph) {
		grid-auto-flow: column;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(13, 1fr);
	}
	li {
		display: grid;
		grid-auto-flow: column;
		align-items: center;
		line-height: 1;
		justify-content: start;
		grid-gap: 8px;
		grid-template-columns: 28px 1fr;
		--percentage: 0%;
	}
	.char {
		display: grid;	
		border: 1px solid #444;
		width: 28px;
		height: 28px;
		place-items: center;
	}

	.probability {
		display: grid;
		grid-auto-flow: column;
		grid-gap: 4px;
		align-items: center;
		
		> span {
			display: block;
			width: 45px;
		}

		.visual {
			position: relative;
			border: 1px solid #444;
			height: 20px;
			width: 200px;
			/* background-color: linear-gradient(to right, green 0% var(--percentage), transparent var(--percentage)); */
			span {
				display: block;
				background-color: #538d4e;
				height: 100%;
				width: var(--percentage);
				transition: all 0.2s ease-in;
			}
			transition: all 0.2s ease-in;
		}
	}
}